*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgba(30, 144, 255,.1);
  font-family:sans-serif;
}
nav{  
  background-color: rgb(65, 64, 64);
  padding:5px 15px;
}
ul{
  list-style: none;
}
a{
  color:white;
  text-decoration: none;
}
a:hover{
 text-decoration: none;;
}
.logo:hover~ .icon{
  color:greenyellow;
}
.item:not(.btn):hover{
  background: rgb(109, 100, 100);
  border-radius: 50rem;
}
.menu li{
  font-size: 16px;
  padding:15px 5px;
}
.menu li a{
  display:block;
}
.logo a{
  font-size: 25px;;
}
.btn.secondary{
  border-bottom:1px solid #444;
}

/*mobile menu*/
.menu{
  display: flex;
  flex-wrap:wrap;
  justify-content:space-between;
  align-items:center;
}
.toggle{
  order:1;
}
.menu .btn{
  order:2;
}
.item{
  width:100%;
  text-align: center;
  order:3;
  display:none;
}
.item.active{
  display:block;
}

.toggle{
  cursor:pointer;
}
.bars{
  
  background-color: #999;
  display:inline-block; 
  height:2px;
  position:relative;
  width:18px;
}
.bars::before{
  content:"";
  background-color:#999;
  height:2px;
  width:18px;
  display: inline-block;
  position:absolute;
  top:5px;
}
.bars::after{
  content:"";
  background-color:#999;
  height:2px;
  width:18px;
  display: inline-block;
  position:absolute;
  top:-5px;
}

/* Tablet menu */

@media all and (min-width:468px){
  .menu{
    justify-content :center;
  }
  .logo{
    flex:1;
  }
  .item.btn{
    order:1;
    width:auto;
    display:block;
  }
  .toggle{
    order:2;
  }
  .btn.secondary{
    border:0;
  }
  .btn a{
    text-decoration: none;
    padding:7px 20px;
    background-color: #01c4c4;
    border:1px solid #006d6d;
    border-radius:50em;
  }
  .btn.secondary a{
    background-color: yellowgreen;
    border-color:rgb(163, 212, 64)
  }
  .btn a:hover{
    transition: all .25s;
  }
  .btn:not(.secondary) a:hover{
    background-color: rgb(35, 95, 95);
    border-color:  rgb(35, 95, 95);;
  }
  .btn.secondary a:hover{
    background-color:rgb(117, 146, 58) ;
    border-color:rgb(117, 146, 58) ;
  }
}

/*Desktop menu*/

@media all and (min-width:768px){

    .item{
      display:block;
      width:auto;
    }
    .toggle{
      display:none;
    }
    .logo{
      order:0;
    }
    .btn{
      order:2;
    }
    .item{
      order:1;
    }
    .menu li{
      padding: 12px 10px;
    }
    .menu li.btn{
      padding-right:0px;
    }
}

